<!doctype html>
<title>Text Summarization Tool</title>
<h1>Text Summarization Tool</h1>
<form action="process" method="post">
    <textarea rows="20" cols="100" name="text" placeholder="Enter plain text here...">{{ text }}</textarea>
    <textarea rows="20" cols="100" name="summary" placeholder="Summary here...">{{ summary }}</textarea>
    <br>
    Algorithm:
    <select name='algorithm' action="/">
        {% for alg in algorithms %}
            {% if algorithm == alg.value %}
                 <option value="{{alg.value}}" SELECTED>{{alg.value}}</option>"
            {% else %}
                 <option value="{{alg.value}}">{{alg.value}}</option>"
            {% endif %}
        {% endfor %}
    </select>
    Number of Summary Sentences: <input type="text" name="count" value="{{ count }}" size="4">
    <br>
    <input type="submit" value="Submit">
</form>
